{% include 'header.html' %}

{% if alert == 'invalid' %}
<div class="alert alert-warning" role="alert">
    Form data provided is invalid
</div>
{%elif alert == 'key' %}
<div class="alert alert-warning" role="alert">
  Supplied invitation key is incorrect
</div>
{%elif alert == 'player_id' %}
<div class="alert alert-warning" role="alert">
  Supplied ID is not a valid PSNID or Xbox Gamertag
</div>
{%elif alert == 'password' %}
<div class="alert alert-warning" role="alert">
  Supplied password does not conform to required standard
</div>
{%elif alert == 'exists' %}
<div class="alert alert-warning" role="alert">
  Supplied PSNID or Gamertag is already registered
</div>
{%elif alert == 'exists' %}
<div class="alert alert-danger" role="alert">
  Server Error
</div>
{% endif %}

  <div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="card shadow-sm login-card">
      <div class="card-body p-4">
        <h4 class="card-title mb-3 text-center">Register New Player</h4>
        <form action="/prod/register" method="post">
          <div class="mb-3">
            <label for="player_id" class="form-label">PSNID or Xbox Gamertag</label>
            <input id="player_id" name="player_id" type="text" class="form-control" placeholder="Enter PlayerID" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" class="form-control" placeholder="Enter password" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="text" class="form-control" placeholder="Enter email" required>
          </div>
          <div class="mb-3">
            <label for="invite" class="form-label">Invite Key</label>
            <input id="invite" name="invite" type="password" class="form-control" placeholder="Enter Invite Key" required>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% include 'footer.html' %}
