{% include 'header.html' %}
    <form action="/prod/reset/{{ reset_id }}" method="post">
    <label for="new_password">NewPassword:</label>
    <input type="password" id="new_password" name="new_password" required>

    <button type="submit">Submit</button>
    </form>
{% include 'footer.html' %}

 get_response: GetResult = get_reset_item(reset_table, reset_id)

    if not get_response['success']:
        return {'statusCode': 500, 'body': json.dumps('Server Error')}

    reset_item = cast(ResetItem, get_response['item'])

    if not reset_item:
        return {
            'statusCode': 200,
            'headers': {
                'Content-Type': 'text/html',
            },
            'body': 'Reset token not found',
        }

    if reset_item_still_valid(reset_item):
        reset_id = reset_item['reset_id']
        env = Environment(
            loader=FileSystemLoader('/opt/python/league/templates')
        )
        template = env.get_template('change_password.html')
        rendered_html = template.render(reset_id=reset_id)
        return {
            'statusCode': 200,
            'headers': {
                'Content-Type': 'text/html',
            },
            'body': rendered_html,
        }

    return {
        'statusCode': 200,
        'headers': {
            'Content-Type': 'text/html',
        },
        'body': 'Reset token has expired',
    }